* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #141e30, #243b55);
}

.container {
  width: 400px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}

button {
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.add-btn {
  background: #22c55e;
  color: white;
}

.todo-list {
  list-style: none;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background: #1e293b;
  border-radius: 10px;
}

.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}

.actions i {
  cursor: pointer;
  margin-left: 10px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.filter-btn {
  background: #334155;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.counter {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
}
